<% include partial_hdp %>

<div id="page-wrapper" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cette page n'existe pas encore</h1>
                </div>
            </div>
           
            <div class="row">
             <img src="/images/erreur404.png" class="img-rounded" alt="larem94" />           
    </div>
</div>
    
 <% include pied %>
</body>

</html>
